.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #cccccc;
    text-align: left;
}

.table th {
    background-color: #dddddd;
}

.action-col{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
}

.action-col button{
    border: none;
    cursor: pointer;
}