.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar, .sidebar-open {
    width: 200px;
    align-self: stretch;
    padding: 20px;
    background-color: black;
    color: white;
}

.sidebar a, .sidebar-open a {
    display: block;
    margin: 10px;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu-button, .close-button {
    display: none;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options a{
    text-decoration: none;
    cursor: pointer;
    border: solid 1px rgb(221, 221, 221);
    padding: 12px;
    background-color: rgb(31, 31, 31);
    font-size: 16px;
}

.options a:hover{
    background-color: rgb(16, 16, 16);
}

aside div h2{
    padding-bottom: 20px;
    border-bottom: solid 2px white;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .sidebar-open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1;
    }

    .menu-button,
    .close-button
     {
        display: inline-block;
    }
}